.form {
    border-radius: 15px;
    margin-bottom: 400px;
    margin-left: 450px;
    background-color: white;
    padding: 50px;


}


.Nextbtn{
    background-color: #8A71F0;

}
h1{
    font-size:x-large;
    padding-bottom: 20px;
    padding-top: 20px;
}

.otp-text{
    padding-top: 20px;
    padding-bottom: 20px;

}

.buttons{
    padding-top: 20px;
}

.btn {

    background-color: #8A71F0;
    color: white;
    display:inline-block;
    padding: 0 60px 0;
    margin-top: 30px;
    margin-left: 82px;
}

.Otp-button{
    background-color: #8A71F0;
    color: white;
    display:inline-block;
    padding: 0 50px 0;
    margin-top: 25px;
    margin-left: 210px;
}
.Otp-button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.forgot{
    display:inline-block;
    margin-left:135px;
  
  }

.flex {
    margin-top: 10px;
    font-size: small;
}